:root {
  background-color: #f2f2f2;
  --high-rate-colour: #9335ff;
  --low-rate-colour: #e89d40;
  font-family: "Comfortaa", sans-serif;
  color: #999999;
}

p, h3 {
  margin: 0px;
}

.notifications-container {
  width: 780px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 30px;
}

.text-container  {
  margin-top: 1em;
}

.heading-high-rate {
  color: var(--high-rate-colour);
}

.heading-low-rate {
  color: var(--low-rate-colour);
}